<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>ToBig</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
<div class="header">
  <h3> Booking Detail </h3>
<h1> {{userlocation}}</h1>
  </div>
  <div class="outerDiv">
<div class="tubigImg" *ngFor="let item of UserOrder">
	<img src="{{item.avatar}}">
  </div>
  <div class="description" *ngFor="let item of UserOrder">
    <p class="Title"> {{item.name}} </p>
    <p class="SubDesc"> {{item.descp}}, {{item.Liter}}L</p>
    </div>
    <div class="pricing" >
      <p class="Price" *ngFor="let item of UserOrder"> {{item.value}} PHP </p>
      <p *ngFor="let data of UserData"> {{data.odrQuan}} </p>
      </div>
      </div>
      <div class="container">
          <div class="left"><p *ngFor="let data of UserData" class="Delopt"> {{ExStand}}:<p></div>
          <div class="right"><p class="DelOptPrice" *ngFor="let data of UserData">{{data.AdditionalFee}} PHP </p></div>
      </div>
      <div class="container1">
          <div class="left1"><p *ngFor="let data of UserData" class="total"> Total:<p></div>
          <div class="right1"><p class="TotalPrice" *ngFor="let data of UserData">{{data.Total}} PHP </p></div>
      </div>
      <div class="container2">
          <div class="left2"><p *ngFor="let data of UserData" class="total">

            <ion-item padding-right>
          		<ion-label floating>Where: </ion-label>
      		    <ion-input type="text" [(ngModel)]="Where"></ion-input>
              <!-- (ionChange) (click)="inputclick()"  -->
              <ion-icon name="create" item-right primary></ion-icon>
            </ion-item>

            <ion-item padding-right>
              <ion-label floating>When:</ion-label>
              <ion-input type="text" [(ngModel)]="When" disabled="{{hidden}}"></ion-input>
              <ion-icon name="create" item-right primary></ion-icon>
            </ion-item>
            <p>
            </div>
      </div>
      <div class="button">
        </div>
</ion-content>
