page-bookingdetail {
.scroll-content {
    // overflow: hidden;
     padding-bottom: 0 !important;
}
.input-cover {
  position: static;
 }
}
.button .but {
  text-align: center;
}
.container2 {
height: 10%;
margin-bottom: 7em;
}
.left2 {
    position:relative;
    width:100%;
    height:100%;
    float:left;
    text-align: left;
    padding-left: 2em;
}
.right2 {
    position:relative;
    width:100%;
    height:100%;
    float:left;
    padding-left: 2em;
    text-align: left;
}
.container1 {
position:relative;
height: 10%
}
.left1 {
    position:relative;
    width:70%;
    height:100%;
    float:left;
    text-align: center;
    padding-left: 2em;
    border: none;
}
.right1 {
    position:relative;
    min-width:30%;
    max-width:30%;
    height:100%;
    float:left;
    text-align: center;
    border: none;
}
.container1 .total {
  margin-left: 10em;
}
.container .Delopt {
  margin-left: 5em;
}
.container {
position:relative;
height: 10%
}
.left {
    position:relative;
    width:70%;
    height:100%;
    float:left;
    border: 1px black solid;
    text-align: center;
    padding-left: 2em;
    border-left: none;
    border-right: none;
}
.right {
    position:relative;
    min-width:30%;
    max-width:30%;
    height:100%;
    float:left;
    border: 1px black solid;
    text-align: center;
    border-left: none;
    border-right: none;
}
.header h3,p {
  text-align: center;
}
.outerDiv {
display: block;
text-align: center;
height: 30%;
width: 100%;
}
 .tubigImg {
  display: inline-block;
  width: 25%;
  height: 80%;
  margin-top: .5em;
}
.tubigImg .border{
  margin-top: 4.1em;
  border-left: none;
  border-right: none;
  width: 100%;
}
.tubigImg img {
  height: 10em;
  width: 7em;
  padding: .5em;
}
.description {
  display: inline-block;
   width: 45%;
   height: 80%;
   vertical-align:top;
   padding: 0px;
   margin-top: .5em;
}
.pricing {
  display: inline-block;
   width: 20%;
   height: 80%;
   vertical-align:top;
   padding: 0px;
   margin-top: .5em;
}
.pricing p, .description p {
  margin-top: 0px;
  text-overflow: ellipsis;
}
.description .Title {
  font-size: 1.5em;
  color: orange;
  margin-bottom: .1em;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
}
.pricing .Price{
     font-size: 1.5em;
     margin-bottom: .1em;
 }
 .description {
    text-align: left;
    padding-left: 1em;
}
.description .SubDesc {
  font-size: 1em;
}
