<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Shop" tabIcon="logo-tux" [rootParams]="User"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Transaction" tabIcon="list-box" [rootParams]="User"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Profile" tabIcon="person" [rootParams]="User"></ion-tab>
</ion-tabs>
