<ion-content padding>
	<div class="img-logo">
		<img src="../assets/imgs/logo.png" style="height:100%;width:100%;">
	</div>
	<ion-item padding-right>
    <ion-icon item-left="" name="person" primary="" role="img"  aria-label="person add" ng-reflect-name="person-add" style="margin-bottom: 0px;margin-top: 30.;margin-top: 30px;margin-right: 0px;"></ion-icon>
		<ion-label floating>Username</ion-label>
		<ion-input type="text" [(ngModel)]="User_username"></ion-input>
	</ion-item>
	<ion-item padding-right>
    <ion-icon item-left="" name="lock" primary="" role="img"  aria-label="person add" ng-reflect-name="person-add" style="margin-bottom: 0px;margin-top: 30px;margin-right: 0px;"></ion-icon>
		<ion-label floating>Password</ion-label>
		<ion-input clearOnEdit="false" type="{{PasswordType}}" [(ngModel)]="User_password"></ion-input>
		<button color="greened" ion-button clear item-end style="font-size: 23px;" (click)="showHide()">
			<ion-icon name="{{PasswordIcon}}"></ion-icon>
		</button>
	</ion-item>
	<br>
	<ion-item no-lines>
		<div class="loginbtn">
			<button color="greened" ion-button style="height: 50px; width: 90%; font-size: 18px;" (click)="LoginAccount()"> Login </button>
		</div>
	</ion-item>
  <br>
  <div class="forgotpass">
    <a (click)="forgotpass()">Forgot Password?</a>
  </div>
  <br>
	<div class="createacc">
		<button color="greened" ion-button outline (click)="RegisterForm()">click here to register</button>
	</div>
</ion-content>
