page-home {
	// .scroll-content {
	//     overflow: hidden;
	// }
}
div.loginbtn {
	text-align: center;
}

div.createacc {
	text-align: center;
}

.img-logo {
  text-align: center;
}
.forgotpass {
  width: 100%;
  text-align: center;
  padding-bottom: 5px;
  font-size: 16px;
}
