<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Shop</ion-title>
  </ion-navbar>
</ion-header>
  <ion-content>
  <div class="img-logo" *ngFor="let items of shopinfo">
  <img class="imgsize" src="{{items.avatar}}">
  </div>
  <div class="desc" *ngFor="let items of shopinfo">
    <h1> {{items.name}} </h1>
    <p> {{items.descp}}, {{items.Liter}} Liters </p>
    </div>
  <div class="nav">
  <li><ion-icon name="remove-circle" (click)="decrement()" style="zoom:2.0;"></ion-icon></li>
  <li><ion-input type="tel" maxlength="2"  text-center [(ngModel)]="currentNumber" readonly></ion-input></li>
  <li><ion-icon name="add-circle" (click)="increment()" style="zoom:2.0;"></ion-icon></li>
  </div>
  <div class="Delivery">
        <li><ion-checkbox checked="{{NormalDel}}" (ionChange)="deliv($event)" [disabled]="chckBox"></ion-checkbox></li>
        <li><ion-label>Standard Delivery {{PriceDesc}} {{priceforStand}}</ion-label></li>
  </div>
      <div class="express">
          <li><ion-checkbox checked="{{ExprDel}}" name="chckbox" (ionChange)="expresdel($event)"></ion-checkbox></li>
          <li><ion-label>Express Delivery {{PriceDesc}} {{priceforExp}}</ion-label></li>
      </div>
  <div class="ordnow">
    <button ion-button round class="Orderbut" [disabled]="buttonDisabled" (click)="UserOrder()">Order Now!</button>
    </div>
    </ion-content>
