page-shop {
  .scroll-content {
      overflow: hidden;
  }
}
.img-logo {
  text-align: center;
  width: 100%;
  margin-top: 3em;
}
.img-logo img {
  height: auto!important;
  width: 30%;
}
.desc {
  text-align: center;
}
.desc h1 {
  margin-bottom: 0px;
}
.desc p {
  margin-top: 0px;
}
.nav {
  text-align: center;
}
.nav ion-input {
  width: 2em;
  margin: 0px;
  font-size: 2em;
}
.nav li {
  display: inline-block;
  font-size: 1.2em;
}
.nav ion-icon {
  padding-top: .3em;
}
.express {
    text-align: left;
    width: 100%;
    padding-left: 5em;
}
.express li {
  display: inline-block;
}
.express ion-label {
  margin-bottom: 0px;
  margin-left: 1em;
  margin-top: 0px;
}
.ordnow {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}
.ordnow .Orderbut {
  height: 3em;
  width: 12em;
  font-size: 1.2em;
}
.Delivery {
    text-align: left;
    width: 100%;
    padding-left: 5em;
}
.Delivery li {
  display: inline-block;
}
.Delivery ion-label {
  margin-bottom: 0px;
  margin-left: 1em;
  margin-top: .5em;
}
